<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
</style>

<main class="main">
  <div class="container">

    <div class="row">
      <div class="col-md-2">
        <button type="button" (click)="getShows()" class="btn btn-primary">Get Shows</button>
      </div>
      <div class="col-md-10">
        <h2>Server Name: {{serverName}}</h2>
      </div>
    </div>

    <div class="row">
      <h2 class="text-center">Movies</h2>
    </div>

    <div class="row">

      <div class="col-md-3">
        <h3>Now Playing</h3>
        <ol class="list-group list-group-numbered">
          @if(moviesListNowPlaying && moviesListNowPlaying.length > 0){
          @for(movie of moviesListNowPlaying; track movie.id){
          <li class="list-group-item">
            {{movie.title}}
          </li>
          }
          }
        </ol>
      </div>

      <div class="col-md-3">
        <h3>Popular</h3>
        <ol class="list-group list-group-numbered">
          @if(moviesListPopular && moviesListPopular.length > 0){
          @for(movie of moviesListPopular; track movie.id){
          <li class="list-group-item">
            {{movie.title}}
          </li>
          }
          }
        </ol>
      </div>

      <div class="col-md-3">
        <h3>Top Rated</h3>
        <ol class="list-group list-group-numbered">
          @if(moviesListTopRated && moviesListTopRated.length > 0){
          @for(movie of moviesListTopRated; track movie.id){
          <li class="list-group-item">
            {{movie.title}}
          </li>
          }
          }
        </ol>
      </div>

      <div class="col-md-3">
        <h3>Upcoming</h3>
        <ol class="list-group list-group-numbered">
          @if(moviesListUpcoming && moviesListUpcoming.length > 0){
          @for(movie of moviesListUpcoming; track movie.id){
          <li class="list-group-item">
            {{movie.title}}
          </li>
          }
          }
        </ol>
      </div>

    </div>

    <div class="row">
      <h2 class="text-center">TV Shows</h2>
    </div>

    <div class="row">

      <div class="col-md-3">
        <h3>Airing Today</h3>
        <ol class="list-group list-group-numbered">
          @if(tvListAiringToday && tvListAiringToday.length > 0){
          @for(show of tvListAiringToday; track show.id){
          <li class="list-group-item">
            {{show.name}}
          </li>
          }
          }
        </ol>
      </div>

      <div class="col-md-3">
        <h3>On The Air</h3>
        <ol class="list-group list-group-numbered">
          @if(tvListOnTheAir && tvListOnTheAir.length > 0){
          @for(show of tvListOnTheAir; track show.id){
          <li class="list-group-item">
            {{show.name}}
          </li>
          }
          }
        </ol>
      </div>

      <div class="col-md-3">
        <h3>Popular</h3>
        <ol class="list-group list-group-numbered">
          @if(tvListPopular && tvListPopular.length > 0){
          @for(show of tvListPopular; track show.id){
          <li class="list-group-item">
            {{show.name}}
          </li>
          }
          }
        </ol>
      </div>

      <div class="col-md-3">
        <h3>Top Rated</h3>
        <ol class="list-group list-group-numbered">
          @if(tvListTopRated && tvListTopRated.length > 0){
          @for(show of tvListTopRated; track show.id){
          <li class="list-group-item">
            {{show.name}}
          </li>
          }
          }
        </ol>
      </div>

    </div>

  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--<div class="container">
  <div class="row">
    <div class="col-md-3">
      <button type="button" (click)="getMovies()" class="btn btn-primary">Get Movies</button>
    </div>
    <div class="col-md-12">
      <div class="col-md-3">
        <div class="container">
          <h1>Popular</h1>
          <ol class="list-group list-group-numbered">
            @if(moviesList && moviesList.results && moviesList.results.length > 0){
            @for(movie of moviesList.results; track movie.id){
            <li class="list-group-item">
              {{movie.title}}
            </li>
            }
            }
          </ol>
        </div>
        
        
      </div>
    </div>
  </div>
</div>-->



<router-outlet />
