<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
</style>

<main class="main">
  <div class="container">
    <div class="row">
      <button type="button" (click)="getShows()" class="btn btn-primary">Get Shows</button>
    </div>

    <div class="row">
      <h2 class="text-center">Movies</h2>
    </div>

    <div class="row">

      <div class="col-md-3">
        <h3>Now Playing</h3>
        <ol class="list-group list-group-numbered">
          @if(moviesListNowPlaying && moviesListNowPlaying.results && moviesListNowPlaying.results.length > 0){
          @for(movie of moviesListNowPlaying.results; track movie.id){
          <li class="list-group-item">
            {{movie.title}}
          </li>
          }
          }
        </ol>
      </div>

      <div class="col-md-3">
        <h3>Popular</h3>
        <ol class="list-group list-group-numbered">
          @if(moviesListPopular && moviesListPopular.results && moviesListPopular.results.length > 0){
          @for(movie of moviesListPopular.results; track movie.id){
          <li class="list-group-item">
            {{movie.title}}
          </li>
          }
          }
        </ol>
      </div>

      <div class="col-md-3">
        <h3>Top Rated</h3>
        <ol class="list-group list-group-numbered">
          @if(moviesListTopRated && moviesListTopRated.results && moviesListTopRated.results.length > 0){
          @for(movie of moviesListTopRated.results; track movie.id){
          <li class="list-group-item">
            {{movie.title}}
          </li>
          }
          }
        </ol>
      </div>

      <div class="col-md-3">
        <h3>Upcoming</h3>
        <ol class="list-group list-group-numbered">
          @if(moviesListUpcoming && moviesListUpcoming.results && moviesListUpcoming.results.length > 0){
          @for(movie of moviesListUpcoming.results; track movie.id){
          <li class="list-group-item">
            {{movie.title}}
          </li>
          }
          }
        </ol>
      </div>

    </div>

  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--<div class="container">
  <div class="row">
    <div class="col-md-3">
      <button type="button" (click)="getMovies()" class="btn btn-primary">Get Movies</button>
    </div>
    <div class="col-md-12">
      <div class="col-md-3">
        <div class="container">
          <h1>Popular</h1>
          <ol class="list-group list-group-numbered">
            @if(moviesList && moviesList.results && moviesList.results.length > 0){
            @for(movie of moviesList.results; track movie.id){
            <li class="list-group-item">
              {{movie.title}}
            </li>
            }
            }
          </ol>
        </div>
        
        
      </div>
    </div>
  </div>
</div>-->



<router-outlet />
